@model MVCShoppingCart.ViewModel.ShoppingCartVM 
@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Shopping Cart</h2>
<div class="continueShoppingBtn">
    <p><a href="@Url.Action("Index","Products")" class="btn btn-default">Continue Shopping</a></p>
</div>

<div id="update-message"></div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr id="row-@item.CartItemId">
                <td>
                    @Html.ActionLink(item.Product.Name, "Details", "Products", new { id = item.ProductId }, null)
                </td>
                <td>
                    @item.Product.Price
                </td>
                <td id="item-count-@item.CartItemId">
                    @item.Count
                </td>
                <td></td>
                <td>
                    <a href="#" class="btn btn-primary btn-xs btn-block RemoveLink" data-id="@item.CartItemId" data-url='@Url.Content("~/ShoppingCart/RemoveFromCart")'>Remove</a>
                </td>
            </tr>
        }
    </tbody>
    <tr>
        <td></td>
        <td></td>
        <td>Subtotal:</td>
        <td colspan="2" id="cart-subtotal">
            @Model.CartSubTotal
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Sales Tax:</td>
        <td colspan="2" id="cart-salestax">
            @Model.CartSalesTax
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td colspan="2" id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>
<div>
    <p><a class="btn btn-default pull-right" id="CheckoutButton" href="@Url.Action("CustomerInfo", "ShoppingCart")">Proceed to Checkout &raquo;</a></p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquerycart")
}

